# Ignore VS Code Jupyter virtual documents
.virtual_documents/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python virtual environments
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.dbgi

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo